<!-- this is a configuration file for LogBack log Api (under SLF4J) 
     LogBack is faster than log4J and used by default in Spring-boot -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>mylog.txt.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>archived/mylog.%d{yyyy-MM-dd}.%i.txt.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

  <root level="info"> <!-- "debug" , "info" , "warn" , "error" , ... -->
    <appender-ref ref="STDOUT" />
   <!--  <appender-ref ref="FILE" /> -->
  </root>
  
  <logger name="fr.afcepf.al32" level="debug"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
 </logger>
	
</configuration>